  
<div class="nav">
    <%= render 'layouts/navigation'%>
</div>

<%= render 'layouts/messages'%>

<div class="container text-center">
    <h1 class="vertical">Bookable</h1>
    <p> Your bookclub tracking app</p>
    
    <%= link_to 'LOG IN', new_user_session_path, class:"btn btn-primary" %><br>
    <%= link_to 'SIGN UP', new_user_registration_path, class:"btn"%>
    
</div>

