<div class ="search">
  <form class="search-form " action='/result' method="get">
    <input class="search-input form-control" type="text" name="search" placeholder="search for book"><br>
    <input class="search-submit btn btn-success" type='submit'>  </input>
  </form>
</div>

