<div class="nav">
    <%= render 'layouts/navigation'%>
</div>
<div class="col-11 mx-5 my-5">
<%= render 'layouts/messages'%>
<div class='search-area'>
    <h3>Search Books</h3>

    <%= render 'form'%>
</div>
</div>