<div class="nav">
    <%= render 'layouts/navigation'%>
    <h3 class="center-nav text-white">Search Books</h3>
</div>
<div class="col-11 mx-5 my-5">
<%= render 'layouts/messages'%>
<div class='search-area'>
    

    <%= render 'form'%>
</div>
</div>