
@import "font-awesome";
@import "bootstrap";

 .vertical{
    margin-top: 25%;
     font-size: 50px;
 }

 .text-center{
     margin-left: 15%;
 }

 .btn{
     width: 25%;
 }

 .blue{
     background-color:#3778c2 ;
 }
 .navbar{
     border-color:#3778c2 ;
 }

.avatar {
     width: 250px;
    height: 250px;
    border-radius: 50%;
  }