.center-nav {
  display: flex;
  align-items: center;
  margin-left: 25%;
}

.center-nav-2 {
  display: flex;
  align-items: center;
  margin-left: 15%;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
