// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}